@import "tailwindcss";
/*body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}*/

/* Contenedor del login */
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

/* Título */
h2 {
    color: #333;
}

/* Grupo de inputs */
.input-group {
    text-align: left;
    margin: 10px 0;
}

.input-group label {
    font-size: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

/* Botón de login */
button {
    background-color: #E55A19;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #c64914;
}

/* Enlace de registro */
.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #E55A19;
    font-weight: bold;
}