# Habilitar la reescritura de URL
RewriteEngine On

# Redirigir a login.php si la URL contiene 'login'
RewriteCond %{REQUEST_URI} ^/login [NC]
RewriteRule ^(.*)$ login.php [L,QSA]

# Redirigir a registro.php si la URL contiene 'registro'
RewriteCond %{REQUEST_URI} ^/registro [NC]
RewriteRule ^(.*)$ registro.php [L,QSA]

# Redirigir todas las demás solicitudes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

<LimitExcept GET POST>
    Order Deny,Allow
    Allow from all
</LimitExcept>